body {
  background-color: #3AA6B9;
  font-family: 'Inter', sans-serif;
  color: #7F7C82;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.main-section {
  max-width: 600px;
  min-height: 85vh;
  background-color: #C1ECE4;
  margin: 40px auto;
  
}

.crossed {
  text-decoration: line-through 1px #FF9EAA;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: #FF9EAA;
  -webkit-text-decoration-thickness: 1px;
}

.btn {
  background-color: #FFD0D0;
  border: none;
  padding: 10px;
  width: 200px;
  color: #7F7C82;
}

input {
  padding: 10px;
  width: 50%;
  background-color: #FFF6F4;
  border: none;
}

li {
  color: #435B66;
  margin: 10px;
}


